*{
    box-sizing: border-box;
}

body {
    background-color: #0095dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body.dm {
    background-color: #1b1b2f;
}

canvas {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: block;
}

canvas.dm  {
    background-color: #1f4068;
}

h1 {
    color: #f0f0f0;
    font-size: 3rem;
    margin-bottom: 0.3rem;
}


.btn {
    color: aliceblue;
    background: black;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    background-color: #222;
}

.rules-btn {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(15, 15, 15);
    color: white;
    min-height: 100vh;
    width: 300px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-300px);
    transition: transfrom 1s ease-in-out;
}

.rules.show {
    /*Add class through js*/
    transform: translateX(0px);
    }

#close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    padding: 0;
}

#dark-mode {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    
}

#light-mode {
    position: absolute;
    top: -3.5rem;
    right: 2rem;
}

#light-mode.disp {
    top: 1.5rem;
}

#canvas {
    margin-bottom: 2rem;
}